* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --steel-blue:var(--steel-blue);
  --dim-gray:var(--dim-gray);
  --rose-brown:(rosybrown);
  --bright-yellow:var(--bright-yellow)
  --left-250:250px;
  --zero:0px;
}
html,
body {
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  position: relative;
  height: 300px;
  width: 300px;
  margin: 4rem auto;
  text-align: center;
line-height: 500px;
background-color: palegreen;
font-size: 2.5rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-transform: capitalize;
position: relative;
}
.box{
  width: 150px;
  height: 150px;
  transform: ;
}
.message {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  /* center the message */
  display: grid;
  place-items: center;
}

/* all the boxes should get a delayed rotation */
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: 1s;
}

.top-left {
  top: 0;
  left: 0;
  background: steelblue;
}

.top-right {
  top: 0px;
  left: 50%;
  background: dimgray;
}


  


main:hover .top-left {
  transform: translateX(-100px) rotate(90deg);
}

main:hover .top-right {
  transform: translateX(100px) rotate(-90deg);
}

