* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --steel-blue: steelblue;
  --dim-gray: dimgray;
  --rose-brown: rosybrown;
  --bright-yellow: yellow;
}
html,
body {
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
  height: 300px;
  width: 300px;
  margin: 4rem auto;
  text-align: center;
  line-height: 300px;
  background-color: palegreen;
  font-size: 2.5rem;
  text-transform: capitalize;
  position: relative;
}
.box {
  width: 150px;
  height: 150px;
  position: absolute;
  transition: 1s;
}
.h1 {
  position: absolute;

  /* center the h1 */
  text-align: center;
}

/* all the boxes should get a delayed rotation */

.blue {
  top: 0;
  left: 0;
  background: var(--steel-blue);
}

.dimgray {
  top: 0px;
  left: 50%;
  background: var(--dim-gray);
}
.rosybrown {
  right: 0%;
  bottom: 0%;
  background: var(--rose-brown);
}

.yellow {
  left: 0%;
  bottom: 0%;
  background: var(--bright-yellow);
}
/* one can also asign various values to chanfged it.
.container:hover .blue {
  transform: translateX(-200px) rotate(360deg);
}

.container:hover .dimgray {
  transform: translateX(-200px) rotate(360deg);
}

.container:hover .yellow {
  transform: translateX(200px) rotate(-360deg);
}

main:hover .rosybrown {
  transform: translateX(200px) rotate(-360deg);
}
*/
.container:hover .blue {
  transform: translateX(-150px) rotate(-90deg);
}

.container:hover .dimgray {
  transform: translateX(150px) rotate(90deg);
}

.container:hover .yellow {
  transform: translateX(-150px) rotate(90deg);
}

main:hover .rosybrown {
  transform: translateX(150px) rotate(-90deg);
}
